
/** CHEVRONS **/


.chevron_right {
    display:inline-block;
    width: .5em;
    height: .8em;
    position:relative;
    cursor: pointer;
    margin: 0px 3px 0px 0px;
}

.chevron_right:before,
.chevron_right:after {
    display:block;
    content:"";
    width:0;
    height:0em;
    border-style:solid;
    position:absolute;
}
.chevron_right:before {
    right:0;
    border-width:.4em 0 .4em .4em;
    border-color:transparent transparent transparent black;    
}
.chevron_right:after {
    left:0;
    border-width:.4em 0 .4em .4em;
    border-color:transparent transparent transparent #dce8f8;//*#C0C0C0;    */
}
.chevron_right.skinny {
    width:.4em;
}
.chevron_right.fat {
    width:.6em;
}



.chevron_left {
    display:inline-block;
    width: .5em;
    height: .8em;
    position:relative;
    cursor: pointer;
    margin: 0px 0px 0px 3px;
}

.chevron_left:before,
.chevron_left:after {
    display:block;
    content:"";
    width:0;
    height:0em;
    border-style:solid;
    position:absolute;
}
.chevron_left:before {
    left:0;
    border-width:.4em .4em .4em 0;
    border-color:transparent black transparent transparent;    
}
.chevron_left:after {
    right:0;
    border-width:.4em .4em .4em 0;
    border-color:transparent #dce8f8 transparent transparent;    
}
.chevron_left.skinny {
    width:.4em;
}
.chevron_left.fat {
    width:.6em;
}




