/* www/css/components/toggle.css */

.toggle-button {
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.toggle-button:hover {
    background-color: #f3f4f6;
}

.toggle-button-active {
    background-color: #e5e7eb;
    color: #1f2937;
}

.toggle-button-active:hover {
    background-color: #d1d5db;
}