# R
*.Rproj.user
*.Rhistory
*.RData
*.RDataTmp
*.Ruserdata
*.Rproj
.Renviron

# Project-specific
cache/
logs/
env.R

R_scripts/master_scripts
R_scripts/setup_scripts
R_scripts/run_scripts

# User-specific
_dev
_archive
dev_notes/
.cursorrules
.cursorignore

# Project-specific
/temp/
*git-ignored/

# OS-specific
.DS_Store
cleaned_data
result_summaries
~$*
.Rproj.user
