
/** BUTTONS TO TRIGGER **/

.accordion_button {
    background: #dce8f8;
    
    position: absolute;
    top: 45%;
    
    border-radius: 5px;
    border: 1px solid black;
    
    z-index: 50;
    
    cursor: pointer;
}

.accordion_trigger {
    
}

/** PANELS TO ACCORDION **/



.accordion_vertical {
    transition: max-height 0.2s ease-out;
}

.accordion_horizontal {
    transition: max-width 0.2s ease-out;
}


