
.about_table, .team_table, .faq_table {
    scroll-behavior: smooth;
    font-size: 140%;
}

.about_table tbody, .team_table tbody, .faq_table tbody {
    height: 100%;
}

.about_td, .team_td, .faq_td {
    height: 100%;
    border: 1px solid;
}

.about_main, .team_main, .faq_main {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    vertical-align: top;
    
}

.about_sidebar, .team_sidebar {
    font-size: 115%;
    vertical-align: top;
    
    height: 100%;
    padding: 20px;
    
    overflow-y: auto;
}

.faq_sidebar {
    font-size: 105%;
    vertical-align: top;
    
    height: 100%;
    width: 300px;
    padding: 20px;
    
    overflow-y: auto;
}

.about_sidebar a, .team_sidebar a, .faq_sidebar a {
    cursor: pointer;
    color: #002d72;
}

.about_sidebar a:hover, .team_sidebar a:hover, .faq_sidebar a:hover {
    text-decoration: underline;
    color: #002d72;
}

.about_sidebar p, .team_sidebar p {
    margin-top: 10px;
}

.faq_sidebar p {
    margin-top: 25px;
}

.team_sidebar p {
    white-space: nowrap;
}


.about_header_padding, .team_header_padding, .faq_header_padding {
    padding: 10px;
}

.about_padding, .team_padding, .faq_padding {
    padding: 20px;
}

.about_main h1, .team_main h1, .faq_main h1 {
    padding: 10px;
    
    font-size: 150%;
    font-weight: bold;
    margin: 0px;
    
    text-align: center;
}

.about_main h2, .team_main h2, .faq_main h2 {
    font-size: 110%;
    font-style: italic;
    
    text-align: center;
    margin-top: 5px;
}

.about_main h3, .team_main h3, .faq_main h3 {
    font-size: 125%;
    font-weight: bold;
    text-decoration: underline;
    
    margin-top:40px;
}

.about_main img, .team_main img {
    border: 1px solid;
    margin-right: 20px;
    
    box-shadow: 3px 3px 3px 1px #696969;
}

.team_main img {
    height: 250px;
}

.about_image_table td, .team_image_table td {
    vertical-align: top;
}

.faq_main a {
    cursor: pointer;
    font-weight: bold;
    
    color: #002d72;
/*    text-shadow: 0.5px 0.5px #696969; */
}

.faq_main a:hover {
    text-decoration: underline;
    color: #002d72;
}