
.Andrew_grid {
    display: grid;
    border-collapse: separate;
}

.Andrew_grid_both_expanded {
    grid-template-columns: 500px auto 250px;
}

.Andrew_grid_left_expanded {
    grid-template-columns: 500px auto 0px;
}

.Andrew_grid_right_expanded {
    grid-template-columns: 0px auto 250px;
}

.Andrew_grid_none_expanded {
    grid-template-columns: 0px auto 0px;
}

.Andrew_panel {
    
}

.Andrew_side_panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    overflow: hidden;
}

.Andrew_main_panel {
    position: relative;
    
    border-left: 2px solid;
    border-right: 2px solid;
}

.Andrew_controls_header {
    border-top: 1px solid;
    border-bottom: 1px solid;

    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    
    overflow: hidden;
    
    white-space: nowrap;
    
    height: 2em;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.Andrew_control_panel {
    margin-bottom: auto;
}

.display {
    overflow: auto;
}

.Andrew_cta_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    border-top: 1px solid black;
    
    padding: 10px;
}

.Andrew_cta_td {
    
    text-align: center;
    vertical-align: middle;
    
    margin: 0px;
    padding: 0px;
}

.Andrew_cta_text_container {
    padding: 0px;
    border-top: 1px solid black;
    text-align: center;
}

.Andrew_cta_wrapper .Andrew_cta_text_container {
    border: none;
}

.Andrew_cta_container {
    text-align: center;
    vertical-align: middle;
    
    border-top: 1px solid black;
    
    margin: 0px;
    padding: 10px;
}

.Andrew_cta_wrapper .Andrew_cta_container {
    border: none;
    padding: 0px;
}
.concertina_button {
    background: #dce8f8;
    
    position: absolute;
    top: 45%;
    
    border-radius: 5px;
    border: 1px solid black;
    
    z-index: 50;
    
    cursor: pointer;
}